form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

input,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

input{
  width: 100%; /* Full width */
  box-sizing: border-box;
}

button {
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357abd;
}
